{% extends 'template.html.twig' %}
{% block title %}
Users
{% endblock %}
{% block Pagetitle %}
Users
{% endblock %}

{#{{ dump(users) }}#}
{% block body %}
    {{ include('fragments/date-jour.html.twig') }}
    <div class="alert alert-warning">


{#                <a href="{{ path('tab-app',{nb:7}) }}">static table</a>#}
    </div>

    <table class="table">

    <tr class="table-active">
    <td>Firstname</td>
    <td>Name</td>
    <td>Age</td>
    </tr>



    {% for user in users %}
    <tr class="table-{%  if loop.index is odd %}danger{% else %}warming{% endif %}">
        <td> {{ user.firstname }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
            {{ render(controller('App\\Controller\\FirstController::hello',{'nom':user.name,'prenom':user.firstname})) }}
        </td>


    </tr>
    {% endfor %}
        mon url absolue est : {{ url('first') }}

</table>

{% endblock %}