{% extends 'template.html.twig' %}
{% block body %}

{#    {{ dump(personne) }}#}

<div class="row">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.firstname }} {{ personne.name }}</h6>
            <p class="card-text">Age: {{ personne.age }}</p>
            <a href="{{ path('personne.detail',{id:personne.id}) }}" class="card-link">detail</a>
            {% if app.user %}
            <p> created by : {{ app.user.email }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

